.situation {
  padding-top: 80px;
  padding-bottom: 94px;
  margin-bottom: 60px;
  background-color: @color-grey;
  position: relative;

  &::before {
    content: "?";
    position: absolute;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 200px;
    color: @color-black;
    opacity: 0.09;
    top: 0;
    right: 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;

    &::before {
      display: none;
    }
  }

  &__counter {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: @color-black;
    text-align: center;
    position: relative;
    display: block;
    width: max-content;
    margin: 0 auto;

    &::before {
      content: ".";
      font-family: 'Gilroy', 'Arial', sans-serif;
      font-weight: 800;
      font-size: 48px;
      color: @color-red;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: -15px;
    }

    &--without-dot {
      &::before {
        display: none;
      }
    }
  }

  &__text {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: @color-text;
    text-align: center;
    letter-spacing: 0.05em;
    font-style: normal;
    padding: 0 37px;
    margin-bottom: 25px;
  }

  &__image {
    vertical-align: top;
  }

  &__item {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block {
    text-align: center;
  }

  @media @screen-sm {
    &__title {
      max-width: 240px;
    }

    &::before {
      left: 220px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__counter {
      margin: 0;
    }

    &__item {
      display: flex;
      align-items: center;
      max-width: 720px;
      margin-bottom: 65px;

      &:nth-child(even) .situation__block:first-child {
        order: 2;

        & .situation__counter {
          top: -52px;
          left: -20px;
          right: 0;
        }

        & .situation__text {
          margin-left: auto;
          text-align: left;
        }
      }


    }

    &__text {
      text-align: left;
      padding: 0;
      margin-bottom: 0;
      margin-top: 20px;
      font-size: 16px;
      line-height: 24px;
      max-width: 290px;
    }

    &__counter {
      position: absolute;
      top: -52px;
      right: -20px;
      z-index: 1;
    }

    &__block {
      position: relative;
      width: 100%;
    }
  }

  @media @screen-md {
    background-image: url("../img/bg-grey.png");
    background-repeat: no-repeat;
    background-position: 100% -208px;
    background-color: transparent;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 250px;

    &::before {
      left: 452px;
      top: 37px;
    }

    &__item {
      max-width: initial;
    }

    &__list {
      padding-left: 20px;
      padding-right: 15px;
      justify-content: space-between;
      align-items: initial;
    }
  }
}
